.btn-circle {
    height: 38px;
    width: 40px;
    padding: 6px;
    font-size: 20px;
    border-radius: 20px;
}
/*SEARCH FORM*/
.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}

/*to cange only one form and not all give unique class name like  class="search-form" */
.search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}
.slide1 {
      background-image: url('./Images/NewYork.jpg');
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.slide2 {
    background-image: url('./Images/New-York-City20.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide3 {
      background-image:url('./Images/Manhattan.jpg');
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}